<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Exchange services for services
      </h1>
      <h2 class="subtitle">
        A peer-to-peer cashless platform
      </h2>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="heading">
      <h1 class="title">Services Stream</h1>
      <h2 class="subtitle">
        Some of the services that are currently being offered
      </h2>
    </div>
    <br>
    <div class="columns is-multiline is-mobile">
      {{#each ads}}
          <div class="box column is-4">
            <article class="media">
              <div class="media-left">
                <figure class="image is-64x64">
                  <img src="http://placehold.it/128x128" alt="Image">
                </figure>
              </div>
              <a href="/ad/{{this.id}}">

              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{this.username}}</strong> <small>{{this.createdAt}}</small>
                    <br>
                    {{this.description}}
                    <br>
                    Wanted
                    <br>
                    {{this.lookingFor}}
                  </p>
                </div>
              </div>
            </a>
              
            </article>
          </div>
      {{/each}}
      <br>
    </div>


  </div>
</section>
