<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{{ ad.title }}}
      </h1>
      <h2 class="subtitle">
        @{{{ ad.user.username }}} posted on {{{ ad.createdAt }}}
      </h2>
    </div>
  </div>
</section>

<div class="section">
  <div class="columns">
    <div class="column is-2">
      <aside class="menu container">
        <p class="menu-label">
          Ad
        </p>
        <ul class="menu-list">
          <li><a href="#wanted">Wanted</a></li>
          <li><a href="#details">Details</a></li>
          <li><a href="#">Reputation</a></li>
        </ul>
        <p class="menu-label">
          Actions
        </p>
        <ul class="menu-list">
          <li><a href="mailto:{{{ ad.user.email }}}">Contact Barter</a></li>
          <hr>
              {{#if (eq ad.user.username user.username)}}
          <li>
              <form id="deleteForm" action="/ad/{{{ad.id}}}/delete" method="post">
                <a onclick="deleteForm.submit();" class="button is-danger">Delete</a>
              </form>
          </li>
          <li><a href="/ad/{{ad.id}}/edit" class="button is-warning">Edit</a></li>
          {{/if}}
        </ul>

      </aside>
    </div>

    <div class="column">
      <section class="section">
        <div class="container">
          <div class="heading">
            <h2 class="title" id="wanted">Wanted</h2>
            <h3 class="subtitle">
              @{{{ ad.user.username }}} is specifically looking for
            </h3>
          </div>
          <br>
          <div class="">
            {{{ ad.lookingFor }}}
          </div>
        </div>
      </section>


      <section class="section">
        <div class="container">
          <div class="heading is-info">
            <h2 class="title" id="details">Service</h2>
            <h3 class="subtitle">
              Details about the service
            </h3>
          </div>
          <br>
          <div class="">
            {{{ ad.description }}}
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
